.author-box {
  background-color: #f2f0e7;
  grid-column: 2;
  margin: 2rem 0;
  padding: 2rem 1rem;
  min-width: 100%;
  --sans: "IBM Plex Sans Condensed", proxima-nova, "Gill Sans", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --highlight: #283438;
}

p.author-box__bio {
  font-family: var(--sans);
  background-color: var(--highlight);
  padding: 10px 0;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #d4c1a8;
  margin-top: 6px;
}

span.author-box__name,
span.author-box__about {
  font-family: var(--sans);
  font-weight: bold;
}

p.author-box__note {
  font-size: 1.5rem;
}

.author-image-wrapper {
  float: left;
  height: 325px;
  width: auto;
  margin-right: 20px;
  margin-bottom: 10px;
}

.author-image {
  height: 100%;
  object-fit: contain;
  box-shadow: 6px 6px var(--highlight);
}

.end {
  text-align: center;
  margin-top: 10px;
}
